@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" id="OldPass" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                <button type="button" class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y" onclick="WidocznoscHasla()" id="SeeHidePass">Pokaż</button>


            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" id="NewPass" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" id="NewPassConf" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Zatwierdź</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
        //skrypt do pokazywania i ukrywania hasła
        function WidocznoscHasla() {

            var OldPassword = document.getElementById("OldPass");
            var NewPassword = document.getElementById("NewPass");
            var NewPasswordConf = document.getElementById("NewPassConf");
            var SeeHidePassButton = document.getElementById("SeeHidePass");

            //jeżeli typ pola jest jako "password" to zmienia go na tekst(widoczne haslo) i tekst przycisku dajemy jako "Ukryj"
            if (OldPassword.type === "password") {

                OldPassword.type = "text";
                NewPassword.type = "text";
                NewPasswordConf.type = "text";
                SeeHidePassButton.textContent = "Ukryj";

            } else {
                OldPassword.type = "password";
                NewPassword.type = "password";
                NewPasswordConf.type = "password";
                SeeHidePassButton.textContent = "Pokaż";
            }
        }
    </script>





}
